/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

/* Контейнер профиля */
.profile-container {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    max-width: 750px;
    margin: 20px;
    background-color: #ffffff;
}

/* Левый контейнер для кнопок */
.left-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-right: 20px;
    flex-shrink: 2;
}

/* Стили для кнопок в левом столбце */
.buttons-container button {
    background: none;
    border: none;
    color: black;
    font-size: 1em;
    cursor: pointer;
    text-align: left;
    width: 100%;
    transition: color 0.3s ease;
    padding: 10px 0 10px 5px;
}

.buttons-container button:last-child {
    border-bottom: none;
}

.buttons-container button:hover {
    color: #888888;
    transform: scale(0.98);
}

/* Правый контейнер для информации о пользователе */
.right-column {
    flex: 1;
    text-align: left;
    padding-left: 20px;
    flex-shrink: 0;
    min-width: 200px;
}

/* Контейнер для аватара */
.profile-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Стили для изображения аватара */
.profile-avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

/* Имя пользователя */
.profile-name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 25px;
}

/* Поля ввода информации */
.profile-info {
    width: 100%;
    max-width: 100%;
}

/* Стили для подписей (label) */
label {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

/* Поля ввода */
input[type="text"], input[type="email"], input[type="tel"] {
    width: 80%;
    padding: 8px 0;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid #ccc;
    background: none;
    color: #333;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    border-bottom: 1px solid #000;
    outline: none;
}

/* Цвет плейсхолдера */
input[type="text"]::placeholder, input[type="email"]::placeholder, input[type="tel"]::placeholder {
    color: #aaa;
}

/* Контейнер для текста и иконки */
.profile-field {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
}

/* Иконки изменения рядом с полями (только иконка карандаша) */
.change-icon {
    cursor: pointer;
    color: #555;
    font-size: 1.2em;
    margin-left: 10px;
    background: none;
    border: none;
    padding: 0;
    transition: color 0.3s ease;
}

.change-icon:hover {
    color: #000;
}

/* Кнопка "Сохранить" с заливкой */
#update-profile-button {
    background-color: #000000;
    border: 1px solid #000000;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#update-profile-button:hover {
    color: #000000;
    box-shadow: 10px 5px 5px rgba(154, 154, 154, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
}

.profile-orders {
    display: flex;

}

.order-item {
    display: flex;
    flex-direction: row; /* Текст справа от изображения на ПК */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06); /* Легкая тень */
    flex: 1 1 calc(33.333% - 20px); /* Три карточки в строке на ПК */
    box-sizing: border-box;
    padding: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.order-item:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1); /* Усиленная тень при наведении */
}

/* Изображение мотоцикла */
.order-image {
    width: 150px; /* Ограничение ширины изображения */
    height: auto;
    margin-right: 15px; /* Отступ между изображением и текстом */
    object-fit: contain;
}

/* Текстовая информация о заказе */
.order-info {
    flex: 1; /* Заполнение оставшегося пространства текстом */
    text-align: left;
}

.order-info h3 {
    margin: 0;
    font-size: 18px;
}

.order-info p {
    margin: 5px 0;
    color: #555;
}

/* Скрытие секций */
.section {
    display: none;
}

.section.active {
    display: block;
}

@media (max-width: 768px) {
    .order-item {
        flex-direction: column; /* Текст под изображением */
        align-items: center; /* Выравнивание по центру */
        text-align: center; /* Центрирование текста */
    }

    .order-image {
        margin-bottom: 10px; /* Отступ снизу изображения */
    }

    .order-info {
        text-align: center; /* Центрирование текста */
    }
}
