{% extends 'base.html' %}

{% block title %}Каталог мотоциклов{% endblock %}

{% block style_page%}
<link rel="stylesheet" href="{{ url_for('static', path='header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='catalog.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='modal-window.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='table-moto.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='loading-spinner.css') }}">
{% endblock %}

{% block header %}
{% include 'catalog-header.html' %}
{% endblock %}

{% block content %}
{% include 'loading-spinner.html' %}
<div id="content" class="content">
<div><h2>Каталог</h2></div>
{% include 'table-moto.html' %}

{% include 'modal-window.html' %}
<script src="/js/script.js"></script>
</div>
{% endblock %}
