{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block style_page %}
<link rel="stylesheet" href="{{ url_for('static', path='header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='loading-spinner.css') }}">
{% endblock %}

{% block header %}
{% include 'profile-header.html' %}
{% endblock %}

{% block content %}
{% include 'loading-spinner.html' %}
<div class="profile-container" id="profile-content">
    <!-- Контейнер для кнопок и информации -->
    <div class="left-column">
        <!-- Контейнер для кнопок -->
        <div class="buttons-container">
            <button id="profile-user-button">Профиль</button>
            <button id="order-info-button">Заказы</button>
            <button id="shopping-cart-button">Корзина</button>
            <button id="support-button">Помощь</button>

        </div>
    </div>

    <div class="right-column">
        <!-- Информация о пользователе -->
        <div id="userInfo" class="profile-info section" style="display: none;">
            <div id="profile-name" class="profile-name">Мои данные</div> <!-- Поменять на profile title или типо -->
            <img src="/static/icons/moto_icon.png" alt="Аватар" class="profile-avatar">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name" placeholder="Имя" required>
            <label for="last_name">Фамилия</label>
            <input type="text" id="last_name" name="last_name" placeholder="Фамилия" required>
            <label for="patronymic">Отчество</label>
            <input type="text" id="patronymic" name="patronymic" placeholder="Отчество" required>
            <!-- Строка для email -->
            <div class="profile-field">
                <span id="profile-email" class="profile-email"></span>
                <button id="change-email-icon" class="change-icon" onclick="changeEmail()">✎</button>
            </div>
            <!-- Строка для телефона -->
            <div class="profile-field">
                <span id="profile-phone" class="profile-phone"></span>
                <button id="change-phone-icon" class="change-icon" onclick="changePhone()">✎</button>
            </div>
            <button id="update-profile-button">Сохранить</button>
        </div>

        <!-- Блок заказов -->
        <div class="profile-orders section" id="profile-orders" style="display: none;">
            <div id="profile-name" class="profile-name">Мои заказы</div><!-- Поменять на profile title или типо -->
            <div id="orders-loading" class="loading">Загрузка...</div> <!-- Загрузочный индикатор для заказов -->
            <div id="orders-content" class="orders-content" style="display: none;">
                <!-- Сюда будут вставляться заказы -->
            </div>
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>

{% endblock %}
