<div class="table-container">
    <!-- Заголовки таблицы (статично) -->
    <div class="table-header">
        <div class="header-item">Фото</div>
        <div class="header-item">Производитель, модель</div>
        <div class="header-item">Класс</div>
        <div class="header-item">Год, объем</div>
        <div class="header-item">Пробег</div>
        <div class="header-item">Состояние</div>
        <div class="header-item">Цена</div>
    </div>
    <div id="table-body" class="table-body"></div>
</div>